.gradle
.idea
*.ipr
*.iml
*.iws
npm*.log*
node_modules
src/main/resources/static
#build
!build
build/*
!build/libs
build/libs/*
!build/libs/*.jar
out/
build/
.DS_Store
yarn.lock
package-lock.json
fabric8-gradle-plugin/
